.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}    
h1, h2 {
    font-family: sans-serif, Georgia, Times, serif;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    justify-self: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: gold;
    text-decoration: none;
    padding: 35px;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
}
#hero_msg h1 {
    text-align: center;
}
#hero_msg h4 {
    text-align: center;
    color: aliceblue;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
body {
    background-color: cadetblue;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: antiquewhite;
    color: cadetblue;
}
h2 {
    margin: 0;
}
.book, .join{
    background-color: darkgray;
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: antiquewhite;
    color: darkseagreen;
}
#background {
    height: 725px;
    background-color: azure;
    grid-column: 1/11;
    grid-row: 4/9;
}
#river-grid {
    grid-template-rows: 1fr 1fr 1fr;
}
#salmon {
    background-color: azure;
    padding: 35px;
    margin: 70px;
    grid-row: 1/2;
}
.salmonimg {
    float: left;
    margin: 20px;
}
#grey {
    background-color: azure;
    padding: 35px;
    margin: 70px;
    grid-row: 2/3;
}
.greyimg {
    float: left;
    margin: 20px;
    width: 300px;
    height: 225px;
}
#grand {
    background-color: azure;
    padding: 35px;
    margin: 70px;
    grid-row: 3/4;
}
.grandimg {
    float: left;
    margin: 20px;
    width: 275px;
    height: 225px;
}
.card-img {
    border: 10px solid aliceblue;
    width: 100%;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.msg {
    background-color: darkseagreen;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}
footer {
    background-color: darkseagreen;
    color: aliceblue;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: antiquewhite;
    text-decoration: none;
}
footer a:hover {
    color: darkcyan;
}
footer p {
    font-size: 1.2em;
}
.home-title {
    color: aliceblue;
}
h4 {
    color: aliceblue;
}
.msg h2 {
    color: aliceblue;
}
.msg p {
    color: antiquewhite;
    font-size: .8em;
    padding-bottom: 15px;
}
footer .social img {
    padding-top: 15px;
}
footer p a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
